
@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/McIosevka-thin.ttf') format('truetype'), url('woff2/McIosevka-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/McIosevka-thinitalic.ttf') format('truetype'), url('woff2/McIosevka-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/McIosevka-regular.ttf') format('truetype'), url('woff2/McIosevka-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/McIosevka-italic.ttf') format('truetype'), url('woff2/McIosevka-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/McIosevka-bold.ttf') format('truetype'), url('woff2/McIosevka-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'McIosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/McIosevka-bolditalic.ttf') format('truetype'), url('woff2/McIosevka-bolditalic.woff2') format('woff2');
}
